@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #ffffff;

}

.save-btn {
    background-color: green;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 0px 5px 10px 5px;
    padding: 10px;
    font-size: 14px;
}

.cancel {
    text-decoration: none;
    background-color: red;
    border-radius: 5px;
    color: white;
    border: none;
    margin: 0px 5px 10px 5px;
    padding: 10px;
    font-size: 14px;
    min-width: 60px;
}